<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Remzov's portfolio</title>
  <link href="css/main.css" rel="stylesheet">
</head>

<body class="page">
  <div class="page-wrapper">
    <header class="intro">
      <div class="intro__title">Hello, world!</div>
      <div class="intro__icon-network">

      </div>
    </header>

  </div>
</body>
<script src="../bundle.js"></script>

</html>