@keyframes rotating {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes opened-circle {
  50% {
    clip-path: circle(20% at 50% 50%);
  }
  100% {
    clip-path: circle(100% at 50% 50%);
  }
}

@keyframes heart-beating {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.8);
  }
  20% {
    transform: scale(1.2);
  }
  45% {
    transform: scale(0.8);
  }
  55% {
    transform: scale(1.2);
  }
  65% {
    transform: scale(1);
  }
}

@keyframes eye-moving {
  0% {
    opacity: 1;
  }
  30% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
}
