*:focus {
  outline-color: #aacaee;
}

a,
input,
textarea,
select,
button {
  appearance: none;
  font-family: inherit;
  // cursor: none;
  // &:hover {
  //   cursor: none;
  // }
  @media (max-width: $breakpoint-medium) {
    cursor: pointer;
    &:hover {
      cursor: pointer;
    }
  }
}
