.about {
  margin-bottom: 300px;
}

.about__section-title {
  margin-bottom: 60px;
}

.about__inner {
  display: flex;
  align-items: flex-start;
}

.about__face {
  position: relative;
  flex-basis: 360px;
  margin-right: 90px;
}

.about__serious-photo {
}

.about__fun-photo {
  display: none;
}

.about__bubble {
  position: absolute;
  top: 40%;
  left: 60%;
}

.about__text {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.about__love {
  position: relative;
  cursor: pointer;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: url('../img/dot.svg') round 0 0;
    background-size: 3px 3px;
  }
}

.about__icon-heart {
  width: 20px;
  height: 20px;
  fill: #c62336;
  animation: heart-beating 1.25s linear infinite;
}
