.btn-menu {
  @include reset-btn;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  padding: 15px;
  background-color: #fff;
  clip-path: circle(90% at 0% 0%);
  &.active {
  }
}

.btn-menu__line {
  width: 30px;
  height: 3px;
  background-color: #131313;
}

.btn-menu__line-1 {
  margin-bottom: 4px;
}

.btn-menu__line-2 {
  margin-bottom: 4px;
}

.btn-menu__line-3 {
}
