.link-arrow {
  position: relative;
  width: 248px;
  height: 100px;
  margin-right: 15px;
  fill-rule: nonzero;
}

.link-arrow__base {
  width: 70px;
  height: 12px;
  fill: #d43eff;
}

.link-arrow__tip {
  width: 38px;
  height: 65px;
  fill: #d43eff;
}
