.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  align-items: center;
  width: 100vw;
  height: 100vh;
  &.is-active {
    display: flex;
  }
}

.menu__list {
  @include reset-list;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  @media (max-width: $breakpoint-xlarge) {
    flex-direction: column;
  }
}

.menu__link {
  @include reset-link;
  color: #131313;
  font-size: 100px;
  font-weight: 700;
  &:hover {
    color: #131313;
  }
  @media (max-width: $breakpoint-medium) {
    font-size: 80px;
  }
  @media (max-width: $breakpoint-small) {
    font-size: 45px;
  }
}
