.project {
  @include reset-link;
  display: flex;
  align-items: center;
  &:hover {
    .project__arrow-base {
      transform: scaleX(3);
      transition: transform 0.25s;
    }
    .project__arrow-tip {
      transform: translateX(120px);
      transition: transform 0.25s;
    }
    .project__eye {
      opacity: 1;
      transition: opacity 1s 0.5s;
    }
    .project__eyeball {
      animation: eye-moving 2s 0.75s infinite;
    }
  }
}

.project__img-container {
  position: relative;
  flex-basis: 790px;
  height: 0;
  box-sizing: border-box;
  padding-top: 55.5%;
  margin-right: 15px;
}

.project__img {
  clip-path: circle(35% at 50% 50%);
  transition: clip-path 0.25s;
}

.project__link {
  @include reset-link;
  display: block;
  flex-basis: 290px;
  cursor: tiper;
}

.project__title {
  margin-bottom: 25px;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
}

.project__pics {
  display: flex;
  align-items: center;
}

.project__link-arrow {
  margin-right: 15px;
}

.project__arrow-base {
  transition: transform 0.25s;
}

.project__arrow-tip {
  transition: transform 0.25s;
}

.project__eye {
  transition: opacity 0.25s;
}
