.projects-switcher {
  display: flex;
  @media (max-width: $breakpoint-medium) {
    flex-direction: column;
  }
}

.projects-switcher__titles {
  @include reset-list;
  width: 235px;
  min-width: 235px;
  margin-top: 110px;
  margin-right: 45px;
  @media (max-width: $breakpoint-large) {
    margin-top: 0;
  }
  @media (max-width: $breakpoint-medium) {
    display: flex;
    align-items: flex-start;
    overflow-x: scroll;
    width: 100%;
    height: 50px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.projects-switcher__item {
  margin-bottom: 30px;
  &.uk-active .projects-switcher__title {
    color: rgba(255, 255, 255, 1);
    transition: color 0.25s;
  }
  @media (max-width: $breakpoint-medium) {
    margin-bottom: 0;
    margin-right: 40px;
  }
}

.projects-switcher__title {
  @include reset-btn;
  text-align: left;
  color: rgba(255, 255, 255, 0.65);
  transition: color 0.25s;
  font-size: 18px;
  font-weight: 500;
  @media (max-width: $breakpoint-medium) {
    white-space: nowrap;
  }
}

.projects-switcher__projects {
  @include reset-list;
  flex-grow: 1;
}
