.project {
  @include reset-link;
  display: flex;
  align-items: center;
}

.project__img-container {
  position: relative;
  flex-basis: 790px;
  height: 0;
  box-sizing: border-box;
  padding-top: 55.5%;
  margin-right: 15px;
}

.project__img {
  clip-path: circle(35% at 50% 50%);
  transition: clip-path 0.25s;
}

.project__link {
  @include reset-link;
  display: block;
  flex-basis: 290px;
  cursor: pointer;
}

.project__title {
  margin-bottom: 25px;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
}

.project__link-decor {
  display: flex;
  align-items: center;
}

.project__link-arrow {
  position: relative;
  width: 185px;
  height: 65px;
  margin-right: 15px;
  fill: #d43eff;
}
