.section-title {
  margin: 0;
  text-align: left;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 1;
  @media (max-width: $breakpoint-xlarge) {
    font-size: 70px;
  }
  @media (max-width: $breakpoint-medium) {
    font-size: 40px;
  }
  @media (max-width: $breakpoint-small) {
  }
}
