.thanks {
  margin-bottom: 45px;
  text-align: center;
  font-size: 40px;
  span {
    display: inline-block;
    animation: float 0.2s ease-in-out infinite;
  }
  &:hover span {
    animation: bounce 0.6s;
  }
  span:nth-of-type(3n) {
    color: hsl(172, 100%, 64%);
    text-shadow: 1px 1px hsl(172, 100%, 40%), 2px 2px hsl(172, 100%, 40%),
      3px 3px hsl(172, 100%, 40%), 4px 4px hsl(172, 100%, 40%);
  }
  span:nth-of-type(3n-1) {
    color: hsl(287, 100%, 62%);
    text-shadow: 1px 1px hsl(287, 100%, 40%), 2px 2px hsl(287, 100%, 40%),
      3px 3px hsl(287, 100%, 40%), 4px 4px hsl(287, 100%, 40%);
  }
  span:nth-of-type(3n-2) {
    color: hsl(48, 100%, 60%);
    text-shadow: 1px 1px hsl(48, 100%, 45%), 2px 2px hsl(48, 100%, 45%),
      3px 3px hsl(48, 100%, 45%), 4px 4px hsl(48, 100%, 45%);
  }
  @for $i from 1 through 20 {
    & span:nth-of-type(#{$i}) {
      animation-delay: 0.05s * $i;
    }
  }
  br {
    display: none;
  }
  @media (max-width: $breakpoint-medium) {
    font-size: 35px;
  }
  @media (max-width: $breakpoint-small) {
    br {
      display: inline;
    }
  }
}

@keyframes float {
  0%,
  100% {
    transform: none;
  }
  33% {
    transform: translateY(-1px) rotate(-2deg);
  }
  66% {
    transform: translateY(1px) rotate(2deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: rotateX(20deg) translateY(2px) rotate(-3deg);
  }
  50% {
    transform: translateY(-20px) rotate(3deg) scale(1.1);
  }
}
